.boardContainer {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* aspect-ratio: 1 / 1; */
  /* min-width: 0; */
  /* max-width: 600px; */
}

.boardButton {
  /* flex: 1 0 calc(33.333% - 8px); 33.333% width with 8px margin */
  /* height: calc(33%); */
  background-color: white;
  border-radius: 20px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: black;
    font-size: 10rem;
  }
}

.scoreContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 24px;
  padding-top: 0;
  gap: 64px;
}

.scoreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}
