.boardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 650px;
}
.boardButton {
  flex: 1 0 calc(33.333% - 8px); /* 33.333% width with 8px margin */
  height: 200px;
  background-color: white;
  border-radius: 20px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: black;
    font-size: 10rem;
  }
}
.resetButton {
  background-color: yellow;
  color: black;
}
